/*-------------header styles----------------*/

header {
  height: 4em;
  padding: .3em;
}

.main-nav ul {
  list-style-type: none;
  display: none;
  margin-top: 1em;
}
.main-nav span {
  position: absolute;
  top: 3em;
}

.main-nav span p {
  border: 1px solid #5E6C6B;
  display: inline;
  margin-left: .2em
}

.main-nav:hover ul {
  display: block;
  position: absolute;
  left: 1.5em;
  top: 2em;
  background-color: #2A3534;
}

.main-nav li {
  display: block;
  border: 1px solid #5E6C6B;
}

/*----------home styles----------------*/

#home-content {

}

/*----------blog styles----------------*/

#blog-content {
  display: none;
}

/*----------project styles----------------*/

#projects-content {
  display: none;
}

.public-project {
  border: 1px solid #5E6C6B;
  border-radius: 5px;
  margin: 2em;
  display: block;
}

#projects-content img {
 float:left;
 height:100%;
 width: 14em;
 border-right: 1px solid #5E6C6B;
 border-radius: 5px;
}

/*.project-details {
  float: right;
}*/

.project-details h2 {
  vertical-align: top;
}

.project-details p.description {

}

.project-details a {
  border: 1px solid #5E6C6B;
  border-radius: 5px;
  padding: .5em;
  margin: 0 auto;
}

a.proj-display-route {
  border: none;
  padding: 0;
}

.project-details p.date {
  vertical-align: bottom;
}

ul.repo {
  margin: 2em;
}

.repo-title {
  font-size: 1.2em;
}
/*----------about styles----------------*/

#about-content {
  display: none;
}

/*-------------media queries----------------*/

@media screen and (min-width: 600px) {
  .main-nav ul {
    display: block;
    position: absolute;
    left: .5em;
    top: 2em;
  }
  .main-nav:hover ul {
    display: block;
    position: absolute;
    left: .5em;
    top: 2em;
  }
  .main-nav li {
    display: inline;
  }
  .icon-menu {
    display: none;
  }
}
