header {
  background-color: lightgray;
  height: 4em;
}


.main-nav ul {
  list-style-type: none;
  display: none;
}

.main-nav:hover ul {
  display: block;
  background-color: lightgray;
}

/*.projects-content img {
  height: 5em;
  width: 3em;
}*/

@media screen and (min-width: 600px) {
  .main-nav ul {
    display: block;
  }
  .main-nav li {
    display: inline;
  }
  .icon-menu {
    display: none;
  }
}
